<br>
<div class="uk-inline uk-margin uk-width-1-1">
    <div class="uk-background-image@s">
        <img src="../images/gallery.jpg" alt="Gallery Image" class="img">
    </div>
    <div class="uk-position-top uk-overlay uk-overlay-default uk-text-center img border"></div>
    <div class="uk-position-bottom uk-overlay uk-overlay-default uk-text-center img border"></div>
    <div class="uk-position-left uk-overlay uk-overlay-default uk-flex uk-flex-middle img border"></div>
    <div class="uk-position-right uk-overlay uk-overlay-default uk-flex uk-flex-middle img border"></div>
    <div id="loading-spinner" class="uk-hidden uk-position-center">
        <div uk-spinner></div>
    </div>
</div>